////////////////////////////////////////////////////////////////////////////////
// LAYOUT
////////////////////////////////////////////////////////////////////////////////

[class|='snippet layout'] {
  > section {
    > [class$='__header'],
    > [class$='__main'],
    > [class$='__footer'] {
      margin: 1.75rem 0 0;

      @media (min-width: $breakpoint-s) {
        margin-top: 2rem;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
