.layout-home {
  .home-layout {
    &__main {
      .artwork {
        margin: 0 auto;

        svg {
          display: block;
          max-height: 36vh;
          width: 100%;
        }
      }
    }
  }
}
